name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Get dotnet services
      run: docker pull mcr.microsoft.com/dotnet/core/sdk:latest
      
    - name: Build
      run: |
        dotnet restore HonoursProject/
        dotnet test HonoursProject/
        dotnet build HonoursProject/ -c Release
        
    - name: Publish
      run: dotnet publish HonoursProject/ -c Release
    
    - name: Build the Docker image
      run: docker build -t honsproj HonoursProject/.
